#banner {
    padding: 30vh 0px;
}

#banner h1 {
    color: black;
    padding: 5px 15vw 5px 20px;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
}

#banner h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 100%;
    background: var(--primary);
    z-index: -1;
    border-radius: inherit;
    animation: banner-1 5s linear infinite alternate;
}


@keyframes banner-1 {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -3vw;
    }
}

#banner h2 {
    margin-left: 50px;
    color: black;
    padding: 5px 20vw 5px 20px;
    position: relative;
    z-index: 1;
    font-size: 1.3rem;
}

#banner h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    background: var(--secondary);
    z-index: -1;
    border-radius: inherit;
    /* animation: banner-2 7s linear alternate; */

}


@keyframes banner-2 {
    0% {
        margin-left: -3vw;
    }

    100% {
        margin-left: 0;
    }
}